
@{
    ViewBag.Title = "IMPORTANT INFORMATION";
}
<h2 style="color: #B22222;" align="center">@ViewBag.Title</h2>

<br />
<div style="padding-left:7%; padding-right:7%; line-height:25px;">
    This system will reflect Warrant of Arrest issued in relation to summons from the following agencies / cases: <br />
    <br />
    <div style="padding-left:10%;">
        <strong><u>Agencies</u></strong> <br /> 
        <div class="col-sm-6">
            Accounting and Corporate Regulatory Authority (ACRA)<br />
            Agri-Food & Veterinary Authority (AVA) <br />
            Building & Construction Authority (BCA) <br />
            Council for Estate Agencies (CEA) <br />
            Central Provident Fund Board (CPF) <br />
            Singapore Customs (CUSTOMS) <br />
            Energy Market Authority (EMA) <br />
            Housing & Development Board (HDB) <br />
            Health Sciences Authority (HSA) <br />
            Immigration & Checkpoints Authority (ICA) <br />
        </div>
        <div class="col-sm-6">
            Insolvency & Public Trustee's Office (IPTO)<br />
            Inland Revenue Authority (IRAS)<br />
            Ministry of Manpower (MOM) <br />
            Maritime and Port Authority (MPA)<br />
            National Environment Agency (NEA) <br />
            National Parks Board (NParks)<br />
            Public Utilities Board (PUB)<br />
            Urban Redevelopment Authority (URA) <br />
            Singapore Civil Defence Force (SCDF) <br />
            Singapore Tourism Board (STB)<br />
            <br />

        </div>

        <strong><u>Cases</u></strong><br /> 
        <div class="col-sm-12">
            Traffic Police Summons<br />
            Town Council Summons (TCS)<br />
            Private Summons (PSS)<br />
            Maintenance Summons (MSS)<br />
            Notice to Surety Summons (NS/NSS)<br />
            Bankruptcy Case (BKCY)<br />
            <br />
        </div>
    </div>
    <br />
    All Warrant of Arrest in relation to criminal cases and Land Transport Authority (LTA) summonses will not be reflected in this system. Please check with the Courts for any other Warrant of Arrest matters (refer to the relevant contact number under the '<a target="_blank" href="@Url.Action("Help", "Home")">Help</a></span>' section).
    <br />
    <br />
    <div align="center">
        <a id="buttonAcknowledge" href="@Url.Action("Acknowledge", "Home")">ACKNOWLEDGE</a>
    </div>
</div>

