body {
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: auto;
    max-width: 940px;
    -webkit-box-shadow: 0px 0px 10px 1px #00215B; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 0 10px #00215B; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 10px 1px #00215B; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    outline: none;
}

.container {
    max-width: 940px !important;
    /*<!-- overflow -->*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    overflow-x: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px !important;
    padding-right: 15px !important;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.notice-text {
    color: #B22222;
}

.border {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top, #fefefe, #e3e3e3) repeat scroll 0 0;
    border: 1px solid #999999;
    margin: 10px auto;
    width: 650px;
}

.short-message {
    line-height: 1.8em;
    text-align: justify;
    padding-left: 20px;
    padding-right: 10px;
}

#Agencies-Contact {
    border: 1px solid #000;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 99%;
}

#Agencies-Contact div {
    padding-right:5px;
}


.sub-title {
    -webkit-box-shadow: 0px 0px 5px 0px #00215B; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 5px #00215B; /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 5px 0px #00215B; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: #9a9fa8;
    margin-top: -10px !important;
    margin-left: -15px;
    margin-right: -15px;
    line-height: 2.0em;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    padding-left: 20px;
    margin-top: 0px;
}

.login-user {
    font-size: 14px;
    float: right;
    padding-right: 20px;
    padding-top: 5px;
}

.logout-user {
    float: right;
    font-size: 14px;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 5px;
}

hr {
    -webkit-box-shadow: 0px 0px 1px 0px #bed3f8; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 0 1px #bed3f8; /* Firefox 3.5 - 3.6 */
    box-shadow: 0 0 1px 0px #bed3f8; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    outline: none;
    margin: 15px;
}

.CaseType {
    font-weight: bold;
}

.menu-seperator {
    float: right;
    padding-top: 5px;
}

/*Bootstrap overwrite*/
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-bottom: 0px !important;
}


.title 
{
    text-align:center;
    color:#184194;
}

#buttonAcknowledge{
    text-decoration:none;
    background-color:#184194;
    color:#fff;
    border:1px solid #184194;
    padding: 5px 15px 5px 15px;
}
 
.content {
    padding-left:15px;
    min-height:300px;
}

.content h2 {
    color:#184194;
}


.logout-user a {
    color:#fff !important;
}

/* Start - FOOTER */
#mfooter {
    display: none !important;
}

#wFooter {
    display: block !important;
}

.mobilefooter {
    padding: 10px;
}

div.footermenu {
    display: table;
    width: 100%;
}

    div.footermenu p {
        background-position: 30px 16px;
        background-repeat: no-repeat;
        background-size: 18px auto;
        display: table-cell;
        height: 50px;
        padding-left: 70px;
        vertical-align: middle;
    }

.footermenu {
    border: 1px solid gray;
    border-bottom: none;
    text-align: left;
}


.fcontactus {
    background: url('../Content/Images/icons/ico-contact.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ffeedback {
    background: url('../Content/Images/icons/ico-feedback.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ffaq {
    background: url('../Content/Images/icons/ico-faq.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.fprivacy {
    background: url('../Content/Images/icons/ico-privacy.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.fterms {
    background: url('../Content/Images/icons/ico-terms.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.frate {
    background: url('../Content/Images/icons/ico-star.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid gray;
}


.footermenu:hover {
    background-color: #eaeaea;
}


/* End of - FOOTER */



  #singpass-login-mobile{
        display:none;
    }
    #singpass-login{
        display:block;
    }


@media (max-width: 480px) {
    .OWAES h2 {
        font-size: 1.6em;
    }

    .sub-title {
        font-size: 18px;
        font-weight: bold;
    }

    #mfooter {
        display: block !important;
    }

    #wFooter {
        display: none !important;
    }

    .CaseType {
        line-height: 25px !important;
    }

    .st-accordion ul li > a {
        font-size: 1.0em;
    }
}

@media (max-width: 736px) {
    div #login-user, .login-user, .login-user span, .menu-seperator,.logout-user a  {
        background-color: #fff !important;
        color: #000 !important;
        margin-left: -5px;
    }

     
    #singpass-login-mobile{
        display:block;
    }
    #singpass-login{
        display:none;
    }
}
