<style>
    #wFooter a , #mfooter a 
    {
         color: #4b5258 !important;
    }
</style>

<div id="wFooter" class="pull-left" style="margin-left:15px;">
    <a href="http://www.spf.gov.sg/privacy.htm" target="_blank">PRIVACY STATEMENT</a> &nbsp;|<a href="http://www.spf.gov.sg/terms_of_use.htm" target="_blank">
        TERMS
        OF USE
    </a> &nbsp;| <a href="https://www.jusfeedback.asia/Community/se.ashx?s=7FDA9EA723A5704F&Agency=MHA.SPF&Svc=Electronic%20Police%20Centre%20-%20Outstanding%20Warrant%20of%20Arrest%20Enquiry%20System%20(OWAES)&eLnk=http://www.police.gov.sg/epc/owaes_info.html&Cat=Citizen"
   target="_blank">RATE THIS E-SERVICE</a>
</div>

<div id="mfooter" class="row mobilefooter">
    <div class="col-sm-12">
        <div class="footermenu">
            <p class="ffeedback">
                @*<a href="http://www.spf.gov.sg/feedback.htm">e-Feedback</a>*@
                <a onclick="window.open('http://www.police.gov.sg/epc/epc_tc.htm', '_blank', 'location=yes');">Terms & Conditions</a>
            </p>
        </div>
  

        <div class="footermenu">
            <p class="ffaq">
                @*<a href="http://www.ifaq.gov.sg/spf/apps/fcd_faqmain.aspx">FAQ</a>*@
                <a onclick="window.open('http://www.ifaq.gov.sg/SPF/apps/fcd_faqmain.aspx#TOPIC_9897', '_blank', 'location=yes');">FAQ</a>
            </p>
        </div>

        <div class="footermenu">
            <p class="fcontactus">
                @*<a href="http://www.police.gov.sg/contact">Contact Info</a>*@
                <a onclick="window.open('https://owaes.police.gov.sg/Home/Help', '_blank', 'location=yes');">Help</a>

            </p>
        </div>

        <div class="footermenu">
            <p class="fprivacy">
                @*<a href="http://www.police.gov.sg/privacy.html" class="fontstyle">Privacy Statement</a>*@
                <a onclick="window.open('http://www.police.gov.sg/privacy.html', '_blank', 'location=yes');">Privacy Statement</a>
            </p>
        </div>
        <div class="footermenu">
            <p class="fterms">
                @*<a href="http://www.spf.gov.sg/feedback.htm">Terms of Use</a>*@
                <a onclick="window.open('http://www.spf.gov.sg/terms_of_use.html', '_blank', 'location=yes');">Terms of Use</a>
            </p>
        </div>
        <div class="footermenu">
            <p class="frate">
                
                <a onclick="window.open('https://www.jusfeedback.asia/Community/se.ashx?s=7FDA9EA723A5704F&Agency=MHA.SPF&Svc=Electronic%20Police%20Centre%20-%20Outstanding%20Warrant%20of%20Arrest%20Enquiry%20System%20(OWAES)&eLnk=http://www.police.gov.sg/epc/owaes_info.html&Cat=Citizen', '_blank', 'location=yes');">Rate This e-Service</a>
            </p>
        </div>
    </div>
</div>

<div class="pull-right" style=" margin-right: 15px;">
  <p> Copyright  &copy; @DateTime.Now.Year - Singapore Police Force</p>
</div>          