<p class="short-message">
   <strong style="font-size:16px;color:#B22222"><u>Instructions</u></strong> <br />
    <strong style="font-size:16px;"> @Html.Raw(ViewBag.Instruction)</strong>
    @*@* To delete - test message 
    <strong style="font-size:16px;">
        You are to report to Warrant Enforcement Unit (WEU), during our operating hours or any Police Station immediately (if outside of WEU’s operating hours). Please bring along one person who is a Singaporean or Permanent Resident above the age of 21 to stand as your bailor pending Court proceedings. You and your bailor are required to produce identification documents (i.e. NRIC or Passport). Your bailor is advised to bring along his/her latest bank statement or ATM printout for bail verification.
    </strong>*@
</p>
<p class="short-message">
    If you fail to report and answer to the Warrant of Arrest, you may be arrested anywhere in Singapore including the airports and other immigration checkpoints without further notice. Police will also be visiting your residence.
</p>
<p class="short-message">
    If you have any outstanding Warrant of Arrest in relation to Traffic Police cases, you will be denied renewal of your driving licence, road tax, work permit or employment pass until your case is dealt with by the Court. Your vehicle may also be seized and detained in Singapore.
</p>
<p class="short-message">
    If you wish to make an appeal in relation to the Warrant of Arrest, please contact the prosecuting agency or the Court directly.
</p>
<hr />
