<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="col-sm-6" style="padding-left:0px">
        <img class="img-responsive"  src="../Content/Images/spf_logo.png" alt="SPF"/>
    </div>
    <div class="col-sm-6 hidden-xs hidden-sm">
        <div class="row" style="padding-right:10px;">
            <div class="pull-right" style="padding-top:15px">
                <a href="http://www.gov.sg/">
                    <img border="0" height="32" alt="Singapore Government" src="~/Content/Images/gov_logo.png">
                </a>
            </div>
            <table width="300" cellspacing="0" cellpadding="0" border="0" align="right" valign="top">
                <tbody>
                    <tr>
                        <td align="right" class="header_cat_text">
                          <span><a style="color: #4b5258;" target="_blank" href="http://www.police.gov.sg/epc/epc_tc.htm">Terms and Conditions</a></span> <span style="color: #4b5258;">|</span>@*<span><a class="fontstyle" target="_blank" href="http://www.spf.gov.sg/feedback.htm">e-Feedback</a></span><span class="fontstyle">|</span>*@<span><a style="color: #4b5258;" target="_blank" href="http://www.ifaq.gov.sg/SPF/apps/fcd_faqmain.aspx#TOPIC_9897">FAQs</a></span><span style="color: #4b5258;">|</span><span><a style="color: #4b5258;" target="_blank" href="@Url.Action("Help", "Home")">Help</a></span>@*<span><a class="fontstyle" target="_blank" href="http://www.spf.gov.sg/sitemap.htm">Sitemap</a></span>*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row" style="margin-left:0px; margin-right:0px">
    <div class="OWAES" style="background-color:#184194; min-height:90px; font-variant: small-caps; text-align:center; padding-top:1%; color:#fff;  text-shadow: 2px 2px #000;">
        <h2> Outstanding Warrant of Arrest Enquiry System</h2>
    </div>
</div>
