<div style="margin: 0 auto; text-align: center; width:70%; line-height:2.5em; padding-top:20px; font-size:18px; ">
    <h3>You have <strong><u>NO</u></strong> outstanding Warrant of Arrest</h3>
    If you have any further enquiries, please email to SPF_WEU@spf.gov.sg or <br />
    call (+65) 6557 5017 during Warrant Enforcement Unit's operating hours <br />
    to speak to an officer.
</div>
<hr />